<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>298477354681-2asm6o7425qcjm5ikvjkj9srt729cvgi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.298477354681-2asm6o7425qcjm5ikvjkj9srt729cvgi</string>
	<key>API_KEY</key>
	<string>AIzaSyBvF1KVOQ7fVGyKEiCkFRIB7fWrhpiUy9g</string>
	<key>GCM_SENDER_ID</key>
	<string>298477354681</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.surphop.ios</string>
	<key>PROJECT_ID</key>
	<string>surphop</string>
	<key>STORAGE_BUCKET</key>
	<string>surphop.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:298477354681:ios:9ced756406dcc41dfae568</string>
	<key>DATABASE_URL</key>
	<string>https://surphop-default-rtdb.firebaseio.com</string>
</dict>
</plist>